html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#Chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ChatInputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
}

#ChatInput {
    flex-grow: 1;
}

#ChatInput, #Send {
    margin: 3px;
}

#Connected {
    position: absolute;
    top: 0;
    right: 0;
}

.username {
    margin: 0 5px;
}

.time {
    color: rgba(0, 0, 0, 0.6);
}

.ownMessage {
    font-weight: bold;
}
