html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#Chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#ChatInputContainer {
    margin: 5px;
    display: flex;
    flex-direction: line;
    justify-content: space-between;
}

#ChatInput {
    flex-grow: 1;
}

#ChatInput, #Send {
    margin: 3px;
}

.username {
    margin: 0 5px;
}